%h1
  = "Edit #{@roster.name}"

= simple_form_for @roster, url: admin_roster_path(@roster), method: :patch do |f|
  = f.input :name
  = f.input :abbreviation
  = f.button :submit, "Update #{AppSettings.app_alias_roster.capitalize}"