%h1 
  Manage Players

.add-link
  = link_to "Add Player", new_admin_player_path 

%table
  %caption 
    Players
  %thead
    %tr
      %th.player-id
        ID
      %th.first-name 
        First Name
      %th.last-name
        Last Name
      %th.view 
        View
      %th.edit 
        Edit
  %tbody
    - @players.each do |player|
      %tr{ class: "row-#{player.id}"}
        %td.player-id
          = player.id
        %td.first-name
          = player.first_name
        %td.last-name
          = player.last_name
        %td.view
          = link_to "View", admin_player_path(player)
        %td.edit
          = link_to "Edit", edit_admin_player_path(player)