#h1
  = @player.full_name

%ul
  %li
    = @player.player_team.abbreviation
  %li
    = @player.player_position.name

%ul
  %li
    = link_to "Edit", edit_admin_player_path(@player)
  %li
    = link_to "Delete", admin_player_path(@player), method: :delete