.navbar.navbar-inverse
  .navbar-inner
    %a.brand{ href: "/league/#{@group_id}", title: "League Home" }
      Browser Nav
    %ul.nav
      %li.dropdown
        %a.dropdown-toggle{ href: "#", "data-toggle" => "dropdown" }
          League
          %b.caret
        %ul.dropdown-menu
          %li
            %a{ href: "/league/#{@group_id}", title: "Teams & Rosters" }
              Teams/Rosters
          %li
            %a{ href: "/league/#{@group_id}/standings", title: "League Standings" }
              Standings
          %li
            %a{ href: "/league/#{@group_id}/transactions", title: "League Transactions" }
              Transactions
          %li
            %a{ href: "/league/#{@group_id}/draft", title: "Draft Room" }
              Draft
          %li
            %a{ href: "/league/#{@group_id}/settings", title: "Rules & Scoring" }
              Settings
      %li.dropdown
        %a.dropdown-toggle{ href: "#", "data-toggle" => "dropdown" }
          Team
          %b.caret
        %ul.dropdown-menu
          %li
            %a{ href: "/league/#{@group_id}/team", title: "Roster Management" }
              Roster
          %li
            %a{ href: "/league/#{@group_id}/add", title: "Add/Drop" }
              Add/Drop
          %li
            %a{ href: "/league/#{@group_id}/trades", title: "Trading Desk" }
              Trades
      %li.dropdown
        %a.dropdown-toggle{ href: "#", "data-toggle" => "dropdown" }
          Games
          %b.caret
        %ul.dropdown-menu
          %li
            %a{ href: "/league/#{@group_id}/scoreboard", title: "Scoreboard" }
              Scoreboard
          %li
            %a{ href: "/league/#{@group_id}/schedule", title: "League and Team Schedules" }
              Schedule
      %li.dropdown
        %a.dropdown-toggle{ href: "#", "data-toggle" => "dropdown" }
          Players
          %b.caret
        %ul.dropdown-menu
          %li
            %a{ href: "/league/#{@group_id}players" }
              Search
          %li
            %a{ href: "/league/#{@group_id}/players/stats" }
              Stats
          %li
            %a{ href: "/league/#{@group_id}/players/trends" }
              Trends
      %li.dropdown
        %a.dropdown-toggle{ href: "#", "data-toggle" => "dropdown" }
          Account
          %b.caret
        %ul.dropdown-menu
          %li
            %a{ href: "/user/settings" }
              %i.icon-wrench
              Settings
          %li
            %a{ href: "/user/notifications" }
              %i.icon-envelope
              Alerts/Emails
          %li
            %a{ href: "/user/logout" }
              %i.icon-off
              Logout
      #form.navbar-search.pull-left
        %input#nav-search.search-query{ type: "text", placeholder: "Player Search" }
      %a.brand.pull-right{ href: "/" }
        NGN
- [:notice, :error, :alert].each do |level|
  - unless flash[level].blank?
    .alert{:class => "#{flash_class(level)}"}
      %a.close{ href: "#" }
        x
      = content_tag :p, flash[level]