%h1
  = AppSettings.app_alias_game.capitalize.pluralize

- @periods.each_pair do |key, group_games|
  %table.period
    %caption 
      = "#{AppSettings.app_alias_period.capitalize} #{key}"
    %thead
      %tr
        %th.team-name
          Team
        %th.score
          Score
        %th.score
          Score
        %th.team-name
          Team
      %tbody
      - group_games.each do |group_game|
        %tr{ class: "row-#{group_game.id} #{group_game.game_type}" }
          - group_game.group_game_opponents.away_first.each do |opponent|
            %td.team-name
              = link_to opponent.roster.name, group_roster_path(@group, opponent.roster)
            %td.score
              = opponent.calculated_score