%h1
  Transactions

%table
  %thead
    %tr
      %th.date
        Date
      %th.team-name
        Team
      %th.action
        Action
      %th.player-name
        Player
  %tbody
    - @group.group_logs.each do |log|
      %tr{ class: "row-#{log.id}" }
        %td.date
          = log.created_at.strftime("%m-%d-%y %H:%M")
        %td.team-name
          = log.roster.name
        %td.action
          = log.action
        %td.player-name
          = log.player.full_name