%h1
  Transactions

%table
  %thead
    %tr
      %th.date
        Date
      %th.team-name
        Team
      %th.action
        Action
      %th.player-name
        Player
      %th.note
        Notes
  %tbody
    - @group_logs.each do |log|
      %tr{ class: "row-#{log.id} #{commish_flag(log)}" }
        %td.date
          = log.created_at.strftime("%m-%d-%y %H:%M")
        %td.team-name
          = link_to log.roster.name, group_roster_path(@group, log.roster)
        %td.action
          = log.action
        %td.player-name
          = link_to log.player.full_name, group_player_path(@group, log.player)  
        %td.note
          = log.note