.navbar.navbar-inverse
  .navbar-inner
    = link_to "Browser Nav", group_path(@group), class: "brand"
    %ul.nav
      %li.dropdown
        %a.dropdown-toggle{ href: "#", "data-toggle" => "dropdown" }
          League
          %b.caret
        %ul.dropdown-menu
          %li
            = link_to "Teams", group_rosters_root_path(@group)
          %li
            = link_to "Standings", group_standings_path(@group)
          %li
            = link_to "Transactions", group_transactions_path(@group)
          %li
            = link_to "Rules", group_rules_path(@group)
          %li
            = link_to "Scores", group_scores_path(@group)
          %li
            = link_to "Schedule", group_schedule_path(@group)
          %li
            = link_to "Settings", group_settings_root_path(@group)
      %li.dropdown
        %a.dropdown-toggle{ href: "#", "data-toggle" => "dropdown" }
          Team
          %b.caret
        %ul.dropdown-menu
          %li
            = link_to "Roster", group_roster_path(@group, @roster)
          %li
            = link_to "Add/Drop", group_roster_moves_path(@group, @roster)
          %li
            = link_to "Trades", group_roster_trades_path(@group, @roster)
          %li
            = link_to "Settings", group_roster_settings_root_path(@group, @roster)
      %li.dropdown
        %a.dropdown-toggle{ href: "#", "data-toggle" => "dropdown" }
          Players
          %b.caret
        %ul.dropdown-menu
          %li
            = link_to "Search", group_search_path(@group)
          %li
            = link_to "Stats", group_stats_path(@group)
          %li
            = link_to "News", group_news_path(@group)
      %li.dropdown
        %a.dropdown-toggle{ href: "#", "data-toggle" => "dropdown" }
          Account
          %b.caret
        %ul.dropdown-menu
          %li
            = link_to "Settings", users_settings_path
          %li
            = link_to "Alerts", users_alerts_path
          %li
            = link_to "Logout", destroy_user_session_path
          = render "shared/user_groups"
      #form.navbar-search.pull-left
        %input#nav-search.search-query{ type: "text", placeholder: "Player Search" }
- [:notice, :error, :alert].each do |level|
  - unless flash[level].blank?
    .alert{:class => "#{flash_class(level)}"}
      %a.close{ href: "#" }
        x
      = content_tag :p, flash[level]