%h1
  = "Edit #{@group.name}"

= simple_form_for @group, url: admin_group_path(@group), method: :patch do |f|
  = f.input :name
  = f.input :abbreviation
  = f.button :submit, "Update #{AppSettings.group_alias.capitalize}"