.navbar.navbar-inverse
  .navbar-inner
    %a.brand{ href: "/admin", title: "League Admin" }
      Admin
    %ul.nav
      %li.dropdown
        %a.dropdown-toggle{ href: "#", "data-toggle" => "dropdown" }
          Data
          %b.caret
        %ul.dropdown-menu
          %li
            = link_to "Players", admin_players_path
          %li
            = link_to "#{AppSettings.app_alias_player_team.capitalize.pluralize}", admin_player_teams_path
          %li
            = link_to "#{AppSettings.app_alias_player_conference.capitalize.pluralize}", admin_player_conferences_path
          %li
            = link_to "#{AppSettings.app_alias_group.capitalize.pluralize}", admin_groups_path
          %li
            = link_to "#{AppSettings.app_alias_roster.capitalize.pluralize}", admin_rosters_path
      %li.dropdown
        %a.dropdown-toggle{ href: "#", "data-toggle" => "dropdown" }
          Scoring
          %b.caret
        %ul.dropdown-menu
          %li
            %a{ href: "/team", title: "Roster Management" }
              Roster
          %li
            %a{ href: "/add", title: "Add/Drop" }
              Add/Drop
          %li
            %a{ href: "/trades", title: "Trading Desk" }
              Trades
      %li.dropdown
        %a.dropdown-toggle{ href: "#", "data-toggle" => "dropdown" }
          Users
          %b.caret
        %ul.dropdown-menu
          %li
            %a{ href: "/scoreboard", title: "Scoreboard" }
              Scoreboard
          %li
            %a{ href: "/schedule", title: "League and Team Schedules" }
              Schedule
      %li.dropdown
        %a.dropdown-toggle{ href: "#", "data-toggle" => "dropdown" }
          Account
          %b.caret
        %ul.dropdown-menu
          %li
            %a{ href: "user/settings" }
              %i.icon-wrench
              Settings
          %li
            %a{ href: "/players/notifications" }
              %i.icon-envelope
              Alerts/Emails
          %li
            %a{ href: "/players/trends" }
              %i.icon-off
              Logout
      #form.navbar-search.pull-left
        %input#nav-search.search-query{ type: "text", placeholder: "Player Search" }
      %a.brand.pull-right{ href: "/" }
        NGN
- [:notice, :error, :alert].each do |level|
  - unless flash[level].blank?
    .alert{:class => "#{flash_class(level)}"}
      %a.close{ href: "#" }
        x
      = content_tag :p, flash[level]